* {
    margin: 0;
    padding: 0;
}
body {
    background: #000000;
    overflow: hidden;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    width: 100vw;
    height: 6vh;
    background: #130000;
    align-items: center;
    padding: 0 1rem;
    border-bottom: 1px solid #7c7c7c;
}
.nav-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1vh;
}
.branding {
    width: 5vw;
    height: 5vh;
    align-items: center;
    border: 2px solid #7c7c7c ;
    border-radius: 100%;
}
.search {
    width: auto;
    height: 5vh;
    align-items: center;
    border: 2px solid #7c7c7c ;
    border-radius: 30px;
    
}
.branding img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.search img {
    width: 15%;
    height: 100%;
    object-fit: cover;
    margin: .3vw;
}

.nav-main {
    margin: 0 13vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-main>.icon {
    width: 1.5vw;
    height: 100%;
    /* padding: .5vw; */
    border: none;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: .5vw;
}
.icon {
    width: 1vw;
    height: 2vh;
    padding: .5vw;
    border: 2px solid #bbbbbb;
    border-radius: 100%;
}
.icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg);
}



.main {
    margin-top: 3vh;
    width: 90vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.menubar {
    /* overflow: scroll; */
}
.menu-container, .shortcut-container {
    margin: .5vh 0;
}
.menu-container>ul>li,
.shortcut-container>ul>li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5vh;
    color: #cecece;
}
.menu-container>ul>li a,
.shortcut-container>ul>li a {
    width: auto;
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
    color: rgb(233, 230, 230);
}
.menu-container>ul>li figure,
.shortcut-container>ul>li figure {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vw;
    width: 7%;
    border-radius: 4px;
    overflow: hidden;
}
.menu-container>ul>li img,
.shortcut-container>ul>li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.black-icon {
    filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(180deg);
}
.border {
    margin: .5vh 3vw .5vh 1vw;
    border: 1px solid #bbbbbb;
}


.footer {
    margin: .5vh 3vw .5vh 2vw;
}
.footer>ol {
    display: flex;
    gap: 1vw;
}
.footer>ol>li {
    list-style: disc;
    color: #cecece;
    white-space: nowrap;
}
.footer>ol>li a {
    color: #fdfdfd;
    font-size: .8rem;
    text-decoration: none;
}
 
    







.home {
    grid-column: span 2;
    width: 100%;
    background: #fdfdfd;
}